ul{
	list-style-type: none;
	width: 20%;
	padding: 0;
	margin: 0;
}
li a{
	display: block;
	background-color: #eae0c8;
	padding: 12px;
	text-decoration: none;
	color: #536878;
	font-family: cambria;
}
li a:hover{
	background-color: #536878;
	color: #eae0c8;
}
li a.activo{
	background-color: #536878;
	color: #eae0c8;
}
p{
	text-align: justify;
}