*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
ul{
	list-style-type: none;
	width: 15%;
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #FED8CD;
	position: fixed;
	overflow: auto;
}
li a{
	display: block;
	background-color: #FED8CD;
	padding: 20px;
	text-decoration: none;
	color: #96716E;
	font-size: 20px;
	font-family: "Playfair Display", serif;
	font-weight: 800;
	font-optical-sizing: auto;
	font-style: normal;
}
li a:hover{
	background-color: #96716E;
	color: #FED8CD;
}
li a.activo{
	background-color: #96716E;
	color: #FED8CD;
}
#capa1{
	width: 85%;
	margin-left: 15%;
	text-align: justify;
	padding: 3%;
	background-color: #B3EAE2;
}
#capa1 img{
	width: 30%;
	margin-right: 2%;
	margin-top: 2%;
}
#capa1 h1{
	text-align: center;
	color: #107D79;
	font-family: "Pacifico", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
}
#capa1 p{
	color: #107D79;
	margin-top: 2%;
	font-size: 18px;
	font-family: "Playfair Display", serif;
	font-weight: 400;
	font-optical-sizing: auto;
	font-style: normal;
}
footer{
	background-color: #107D79;
	width: 85%;
	margin-left: 15%;
	height: auto;
	padding: 3%;
}
footer table{
	width: 100%;
}
footer table p{
	color: #FFFFFF;
	font-size: 15px;
	font-family: "Playfair Display", serif;
	font-weight: 400;
	font-optical-sizing: auto;
	font-style: normal;
}
footer table a{
	text-decoration-color: #B3EAE2;
}
hr{
	border: solid 2px #96716E;
	border-color: #96716E;
}
#leonora, #polivalente{
	display: none;
}
.btnleonora, .btnpolivalente{
	width: 100%;
	height: auto;
	padding: 1%;
	background-color: #FED8CD;
	font-family: "Playfair Display", serif;
	font-weight: 700;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 18px;
	margin: 1%;
	color: #96716E;
	border: ridge 4px #96716E;
}
.btnleonora:hover, .btnpolivalente:hover{
	background-color: #96716E;
	color: #FED8CD;
	border: ridge 4px #FED8CD;
}
h2{
	color: #107D79;
}