
body{
	background-color: beige;
	box-sizing: border-box;
}
table{
	width: 100%;
	border: 1px solid #4c2882;
	border-collapse: collapse;
	font-family: arial, verdana, sans-serif;
	caption-side: top;
	margin: auto;
}
th,td{
	border: 1px solid white;
}
th{
	padding: 15px;
}
td{
	padding: 5px;
	text-align: justify;
}
table tr:nth-child(odd){
	background-color: 	#e2cef6;
}
table tr:nth-child(even){
	background-color: #d980f9;
}
tr th{
	background-color: #5b0672;
	color: white;
}
table tr:hover{
	background-color: #8a0bd2;
	color: white;
}